[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	who = shortlog -sne
[color]
	ui = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
	default = simple
[rerere]
	enabled = true
