[color]
	ui = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ur = reset 'HEAD@{1}'
	prune = fetch --prune
	stash-all = stash save --include-untracked
[push]
	default = simple
[url "https://"]
	insteadOf = git://

